* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.section-neumo {
  background-color: #d3d9f7;
}

@media (max-width: 575.98px) {
  .section-neumo {
    height: 50vh !important;
  }
}

.section-neumo .neumo {
  margin: 0;
  font-weight: bold;
  font-size: 140px;
  color: #d3d9f7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4), 8px 8px 12px rgba(0, 0, 0, 0.08);
  outline: none;
  -webkit-animation: text 4s linear infinite alternate;
          animation: text 4s linear infinite alternate;
  text-align: center;
}

@media (max-width: 575.98px) {
  .section-neumo .neumo {
    font-size: 70px;
  }
}

@-webkit-keyframes text {
  0%, 100% {
    text-shadow: -8px -8px 12px rgba(255, 255, 255, 0), 8px 8px 12px rgba(0, 0, 0, 0);
  }
  50% {
    text-shadow: -4px -4px 12px rgba(255, 255, 255, 0.4), 4px 4px 12px rgba(0, 0, 0, 0.08);
  }
  75% {
    text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4), 8px 8px 12px rgba(0, 0, 0, 0.08);
  }
}

@keyframes text {
  0%, 100% {
    text-shadow: -8px -8px 12px rgba(255, 255, 255, 0), 8px 8px 12px rgba(0, 0, 0, 0);
  }
  50% {
    text-shadow: -4px -4px 12px rgba(255, 255, 255, 0.4), 4px 4px 12px rgba(0, 0, 0, 0.08);
  }
  75% {
    text-shadow: -8px -8px 12px rgba(255, 255, 255, 0.4), 8px 8px 12px rgba(0, 0, 0, 0.08);
  }
}

.prof-sec {
  height: 100vh;
  padding: 3%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background-color: black;
  position: relative;
  -webkit-animation: bgi 15s ease infinite;
          animation: bgi 15s ease infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575.98px) {
  .prof-sec {
    height: 50vh;
  }
}

.prof-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: 300% 300%;
  -webkit-animation: bg 10s linear delay iteration-count direction fill-mode;
          animation: bg 10s linear delay iteration-count direction fill-mode;
}

.prof-sec .circle {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 575.98px) {
  .prof-sec .circle {
    width: 300px;
    height: 300px;
  }
}

.prof-sec .circle::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  border: 2px dashed #c9c9c9;
  border-radius: 50%;
  -webkit-animation: circle 40s linear infinite;
          animation: circle 40s linear infinite;
}

.prof-sec .circle .main-imp {
  position: relative;
  width: 120px;
  height: 120px;
  border: 5px groove #b9b9b9;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.prof-sec .circle .main-imp:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border-radius: 0px;
}

.prof-sec .circle .main-imp img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prof-sec .circle .circle-img {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-animation: move 10s linear infinite;
          animation: move 10s linear infinite;
}

@media (max-width: 575.98px) {
  .prof-sec .circle .circle-img {
    width: 80px;
    height: 80px;
  }
}

.prof-sec .circle .circle-img:nth-child(1) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.prof-sec .circle .circle-img:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.prof-sec .circle .circle-img:nth-child(3) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.prof-sec .circle .circle-img:nth-child(4) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.prof-sec .circle .circle-img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bgi {
  0%, 100% {
    background-image: url("../images/joker.jpg");
  }
  25% {
    background-image: url("../images/venom1.jpg");
  }
  50% {
    background-image: url("../images/venom2.jpg");
  }
  75% {
    background-image: url("../images/venom3.jpg");
  }
}

@keyframes bgi {
  0%, 100% {
    background-image: url("../images/joker.jpg");
  }
  25% {
    background-image: url("../images/venom1.jpg");
  }
  50% {
    background-image: url("../images/venom2.jpg");
  }
  75% {
    background-image: url("../images/venom3.jpg");
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg) translate(200px) rotate(0deg);
            transform: rotate(0deg) translate(200px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(200px) rotate(-360deg);
            transform: rotate(360deg) translate(200px) rotate(-360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotate(0deg) translate(200px) rotate(0deg);
            transform: rotate(0deg) translate(200px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(200px) rotate(-360deg);
            transform: rotate(360deg) translate(200px) rotate(-360deg);
  }
}

@media (max-width: 575.98px) {
  @-webkit-keyframes move {
    0% {
      -webkit-transform: rotate(0deg) translate(120px) rotate(0deg);
              transform: rotate(0deg) translate(120px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg) translate(120px) rotate(-360deg);
              transform: rotate(360deg) translate(120px) rotate(-360deg);
    }
  }
  @keyframes move {
    0% {
      -webkit-transform: rotate(0deg) translate(120px) rotate(0deg);
              transform: rotate(0deg) translate(120px) rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg) translate(120px) rotate(-360deg);
              transform: rotate(360deg) translate(120px) rotate(-360deg);
    }
  }
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.section.image-3d {
  background-color: #797979;
}

.section.text-3d {
  background-color: #0a0a0a;
}

.text-3d .heading {
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 575.98px) {
  .text-3d .heading {
    font-size: 35px;
  }
}

.text-3d .heading span {
  display: inline-block;
  -webkit-animation: letters 3s ease-in-out infinite;
          animation: letters 3s ease-in-out infinite;
  -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0, 0, 0, 0.199) 0%, rgba(202, 202, 202, 0.329) 100%);
}

.text-3d .heading span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.text-3d .heading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.text-3d .heading span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.text-3d .heading span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.text-3d .heading span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.text-3d .heading span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.text-3d .heading span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.text-3d .heading span:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.text-3d .heading span:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.text-3d .heading span:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes letters {
  0% {
    -webkit-transform: rotateY(100deg) translateY(-10px) skew(75deg) scale(0);
            transform: rotateY(100deg) translateY(-10px) skew(75deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0px) skew(0deg) scale(1);
            transform: rotateY(0deg) translateY(0px) skew(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes letters {
  0% {
    -webkit-transform: rotateY(100deg) translateY(-10px) skew(75deg) scale(0);
            transform: rotateY(100deg) translateY(-10px) skew(75deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0px) skew(0deg) scale(1);
            transform: rotateY(0deg) translateY(0px) skew(0deg) scale(1);
    opacity: 1;
  }
}

.container {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container:hover .product::before {
  background: linear-gradient(-45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.container:hover .product .info .title {
  color: #ffffff;
}

.container:hover .product .info .subtitle {
  color: #ffffff;
}

.product {
  position: relative;
  width: 350px;
  height: auto;
  padding: 30px 20px;
  border-radius: 4px 40px 40px 40px;
  -webkit-box-shadow: 0px 20px 20px rgba(56, 56, 56, 0.247), 0px 0px 50px rgba(122, 177, 248, 0.226);
          box-shadow: 0px 20px 20px rgba(56, 56, 56, 0.247), 0px 0px 50px rgba(122, 177, 248, 0.226);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #ffffff;
  z-index: 99;
}

.product::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  border-radius: 4px 40px 40px 40px;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  z-index: 0;
}

.product .sneaker {
  position: relative;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .sneaker img {
  width: 60%;
  position: relative;
  z-index: 2;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(56, 56, 56, 0.26));
          filter: drop-shadow(10px 10px 10px rgba(56, 56, 56, 0.26));
}

.product .sneaker .circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 70, 66, 0.75)), to(rgba(8, 83, 156, 0.75)));
  background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  position: absolute;
  z-index: 1;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
  -webkit-box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.329);
          box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.329);
}

.product .info {
  position: relative;
}

.product .info .title {
  font-size: 30px;
  color: #292929;
  margin-bottom: 20px;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}

.product .info .subtitle {
  font-size: 16px;
  color: #9c9c9c;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 20px;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}

.product .info .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}

.product .info .sizes .custom-btn {
  padding: 6px;
  width: 60px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.329);
          box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.329);
  cursor: pointer;
  font-weight: bold;
  color: grey;
  background-color: #ffffff;
}

.product .info .sizes .custom-btn.active {
  background-color: #585858;
  color: #ffffff;
}

.product .info .purchase {
  margin-top: 24px;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}

.product .info .purchase .btn-purchase {
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
  width: 100%;
  padding: 10px 12px;
  height: 45px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 70, 66, 0.75)), to(rgba(8, 83, 156, 0.75)));
  background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  transition: all 750ms ease-out;
  -webkit-box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.329);
          box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.329);
}
/*# sourceMappingURL=style.css.map */